In [1]:
# how to check the data types in python
x = 10
print (type(x))

<class 'int'>

In [3]:
# checking strings and float data types 
str = "This is a string"
print(type(str))

fl = 10.3
print(type(fl))

<class 'str'>
<class 'float'>

In [4]:
# checking complex datatypes 
complex_01 = 1j
print(type(complex_01))

<class 'complex'>

In [7]:
# checking list
x = [22,44,55,77]
print(type(x))

#  it will also print the same list  type rather than telling the list type whether it is a string list of list of a numbers
y=[ "Ali" , "Farooq", "Hamza"]
print(type(y))

<class 'list'>
<class 'list'>

In [9]:
# checking sets
set_01 = set([11,22])
print(type(set_01))

# checking sets by other syntax 
x = {44,72,"Hey",82}
print(type(x))

<class 'set'>
<class 'set'>

In [10]:
# checking tuple datatypes
x = ("Hey" , "Hey" ,"Welcome" , "XD")
print(type(x))

<class 'tuple'>

In [12]:
# checking dictionary 
dic_x = {"Minhas" : "age is 21" , "Comsats " :"University"}
print(type(dic_x))

<class 'dict'>

In [13]:
# checking boolean datatype
x=True
print(type(x))

<class 'bool'>

In [14]:
# checking the NONE datatype
x = None
print(type(x))

<class 'NoneType'>